.order-container {
    padding: 20px;
  }
  
  .order-list .card {
    margin-bottom: 20px;
  }
  
  .order-list .card-title {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .order-list .card-text {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  
  .order-list .list-group-item {
    font-size: 1rem;
  }
  
  .order-list .btn-success {
    width: 100%;
  }
  