.dashboard {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 200px;
  background-color: #e74c3c;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}


.sidebar .logo img {
  width: 80px;
  margin-bottom: 20px;
  margin-left: 5px;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
}

.sidebar nav ul li {
  margin: 20px 0;
}

.sidebar nav ul li a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.sidebar nav ul li a img.icon {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #E6BAA3;
  padding: 10px;
}

.header h1 {
  margin: 0;
}

.user-profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.main-content {
  flex: 1;
  background-color: #f2f2f2;
  padding: 20px;
}

.stock-barang {
  margin-top: 20px;
}

.stock-barang h2 {
  color: #e74c3c;
}

.add-button {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

table th, table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

