.profile-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #CD432F;
  padding: 20px; /* Tambahkan padding */
}

.profile-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.profile-photo-placeholder {
  width: 200px; /* Adjust width for circular image */
  height: 200px; /* Adjust height for circular image */
  margin-right: 20px;
  border-radius: 50%; /* Ubah border-radius menjadi 50% untuk bentuk lingkaran */
  overflow: hidden; /* Ensure the image stays within the border */
}

.profile-photo-placeholder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%; /* Ensure the image is circular */
}

.profile-photo-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-photo-icon {
  width: 100px;
  height: 100px;
  background: url('./images/admin.jpg') no-repeat center center;
  background-size: contain;
  margin-bottom: 10px;
  border-radius: 50%; /* Ubah border-radius menjadi 50% untuk bentuk lingkaran */
}

.select-photo-button {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
}

.profile-details {
  margin-top: 10px;
  text-align: left;
}

.profile-detail {
  margin: 5px 0;
  font-size: 1rem;
  color: white;
}

.social-icons4 {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  margin-left: 20px;
}

.icon {
  color: white;
  cursor: pointer;
  transition: color 0.3s ease;
}

.icon:hover {
  color: #CD432F;
}

.social-icons4 h3 {
  color: white;
}
